<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create</title>
    <!-- Javascript-Library for for example Ajax -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <!-- jQuery Extension for Autocomplete-Widget -->
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 100px;
        }

        a {
            margin-bottom: 10px;
            display: block;
        }


        form {
            margin-bottom: 20px;
        }

        label {
            display: block;
            margin-bottom: 5px;
        }

        input, select {
            width: 30%;
            padding: 8px;
            margin-bottom: 10px;
            box-sizing: border-box;
        }

        button {
            padding: 10px;
            background-color: #4CAF50;
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        button:hover {
            background-color: #45a049;
        }
    </style>
</head>
<body>
<a href="{% url 'incoming_goods' %}">Back</a>

<form method="post" action="{% url 'new_goods' %}">
    {% csrf_token %}
    <div>
        <label for="ean">EAN:</label>
        <input type="search" id="ean" name="ean" required>
    </div>
    <div>
        <label for="product_name">Name:</label>
        <input type="search" id="product_name" name="product_name" required>
    </div>
    <div>
        <label for="product_number">Number:</label>
        <input type="search" id="product_number" name="product_number" required>
    </div>
    <div>
        <label for="quantity">Quantity:</label>
        <input type="number" id="quantity" name="quantity" required min="0">
    </div>
    <div>
        <label for="warehouse">Warehouse:</label>
        <select id="warehouse" name="warehouse">
            <option value="1601">1601</option>
        </select>
    </div>

    <button type="submit">Add</button>
</form>

<script>


    // This code ensures that the JavaScript code is not executed until the DOM (Document Object Model) is fully loaded.
    $(document).ready(function () {
        function onSelect(event, ui) {
            $("#product_name").val(ui.item.name);
            $("#product_number").val(ui.item.number);
            $("#ean").val(ui.item.gtin);
        }

        $("#ean").keypress(function (event) {
            if (event.which === 13) { // Enter-Taste wurde gedrückt
                event.preventDefault();

                // Rufe die Autocomplete-Daten für EAN ab
                var selectedEAN = $("#ean").val();
                $.ajax({
                    url: "/products/products-by-ean/" + selectedEAN,
                    method: "GET",
                    success: function (data) {
                        if (data.data.length > 0) {
                            var selectedProduct = data.data[0];
                            // Fülle die Felder basierend auf den Autocomplete-Daten
                            $("#product_name").val(selectedProduct.name);
                            $("#product_number").val(selectedProduct.number);
                            $("#ean").val(selectedProduct.gtin);
                            $("#ean").blur();
                        }
                    },
                });
            }
        });

        $("#ean").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "/products/products-by-ean/" + request.term,
                    method: "GET",
                    success: function (a) {
                        // new Array for Dropdown
                        var gtinArray = a.data.map(function (entry) {
                            return {
                                label: entry.gtin, // Text in Dropdown
                                value: entry.gtin, // Value for Inputfield
                                name: entry.name, // Productname
                                number: entry.number // Productnumber
                            };
                        });
                        // Pass the array to the response function to fill the dropdown
                        response(gtinArray);
                    },
                });
            },
            // Minimum number of characters before the search is triggered
            minLength: 1,
            // The function that is called when an element is selected from the dropdown
            select: onSelect
        });

        $("#product_name").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "/products/products-by-name/" + request.term,
                    method: "GET",
                    success: function (b) {
                        var nameArray = b.data.map(function (entry) {
                            return {
                                label: entry.name,
                                value: entry.name,
                                gtin: entry.gtin,
                                number: entry.number
                            };
                        });
                        response(nameArray);
                    },
                });
            },
            minLength: 1,
            select: onSelect
        });

        $("#product_number").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "/products/products-by-number/" + request.term,
                    method: "GET",
                    success: function (b) {
                        var numberArray = b.data.map(function (entry) {
                            return {
                                label: entry.number,
                                value: entry.number,
                                gtin: entry.gtin,
                                name: entry.name
                            };
                        });
                        response(numberArray);
                    },
                });
            },
            minLength: 1,
            select: onSelect
        });
    });

</script>
</body>
</html>
